Flask>=2.0
flask-cors
flask-socketio
python-socketio>=5.0
eventlet        # socketio async server; or use gevent
joblib
numpy
gunicorn==21.2.0
requests==2.31.0
scikit-learn    # if your model depends on it
pandas
Werkzeug==2.3.7


# Data processing and ML
numpy
pandas
tensorflow-cpu

python-dotenv

pytz
python-dateutil

APScheduler==3.10.4